


/* CSS PARA EL MENU HAMBURGUESA */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cerrar{
  display: none;
}

.checkbox:checked ~ .menu {
  display: none;
} 

.checkbox:checked ~ .cerrar {
  display: flex;
} 

.navbar {
  background-color: green;
  height: 48px;
  padding: 10px 12px;
  position: relative;

}

.checkbox, .icons {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}

.icons {
  pointer-events: none;
  font-size: 24px;

}

.checkbox {
  opacity: 0;
}

.fi-br-cross {
  display: none;
}

.checkbox:checked ~ .fi-br-menu-burger{
  display: none;
}

.checkbox:checked ~ .fi-br-cross{
  display: block;
}

.menu {
  width: 200px;
  position: absolute;
  top: 48px;
  right: 0px; 
  transition: 250ms;
}

.menu li{
  list-style: none;
}

.menu li a{
  text-decoration: none;
  color: inherit;
  background-color: brown;
  display: block;
  padding: 10px 12px;
}

.menu li a:hover{
  background-color: aquamarine;
}

.checkbox:checked ~ .fi-br-cross{
  display: block;
}

@media (min-width: 560px){
  .checkbox, .fi-br-menu-burger, .fi-br-cross{
    display: none;
  }

  .menu{
    top: 0;
    z-index: 1;
    width: unset;
    display: flex;
    height: 48px;
  }

  .menu li a{
    height: 48px;
    padding: 14px 12px 6px;
  }

}

/* FIN CSS PARA EL MENU HAMBURGUESA */

/* CORROUSEL DE LA PÁGINA PRINCIPAL (no sé si se usan dos CSS diferentes o es mejor todo en el mismo archivo */

.carousel-container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 400%; /* Ancho ajustado para 4 imágenes */
  animation: carousel 20s infinite;
}

.carousel-slide img {
  width: 25%; /* Ancho dividido en partes iguales para 4 imágenes */
  height: 100%; /* Alto ajustado para ocupar todo el espacio disponible */
  object-fit: cover;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}


  /* ícono correo */

  .content {
    position: relative;
    padding-bottom: 25%;
  }
  
  .animated-image {
    position: absolute;
    bottom: 0;
    right: 30px; /* Separación del margen derecho */
    opacity: 0.5; /* Mayor efecto de transparencia */
    transition: opacity 0.3s, transform 0.3s;
    width: 100px; /* Ancho de la imagen de 100 pixeles */
    height: auto;
  }
  
  .animated-image:hover {
    opacity: 1; /* Menos transparencia al pasar el cursor */
    cursor: pointer;
    transform: translateY(-25%);
  }
  
  @media screen and (max-width: 768px) {
    .content {
      padding-bottom: 35%;
    }
    
    .animated-image {
      width: 50%;
    }
  }

  /* footer*/

  .footer {
    background-color: black;
    padding: 10px;
    text-align: center;
  }
  
  .footer-text {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    color: white;
  }