


/* CSS PARA EL MENU HAMBURGUESA */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cerrar{
  display: none;
}

.checkbox:checked ~ .menu {
  display: none;
} 

.checkbox:checked ~ .cerrar {
  display: flex;
} 

.navbar {
  background-color: green;
  height: 48px;
  padding: 10px 12px;
  position: relative;

}

.checkbox, .icons {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}

.icons {
  pointer-events: none;
  font-size: 24px;

}

.checkbox {
  opacity: 0;
}

.fi-br-cross {
  display: none;
}

.checkbox:checked ~ .fi-br-menu-burger{
  display: none;
}

.checkbox:checked ~ .fi-br-cross{
  display: block;
}

.menu {
  width: 200px;
  position: absolute;
  top: 48px;
  right: 0px; 
  transition: 250ms;
}

.menu li{
  list-style: none;
}

.menu li a{
  text-decoration: none;
  color: inherit;
  background-color: brown;
  display: block;
  padding: 10px 12px;
}

.menu li a:hover{
  background-color: aquamarine;
}

.checkbox:checked ~ .fi-br-cross{
  display: block;
}

@media (min-width: 560px){
  .checkbox, .fi-br-menu-burger, .fi-br-cross{
    display: none;
  }

  .menu{
    top: 0;
    z-index: 1;
    width: unset;
    display: flex;
    height: 48px;
  }

  .menu li a{
    height: 48px;
    padding: 14px 12px 6px;
  }

}

/* FIN CSS PARA EL MENU HAMBURGUESA */

/* CORROUSEL DE LA PÁGINA PRINCIPAL (no sé si se usan dos CSS diferentes o es mejor todo en el mismo archivo */


.carousel-container {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: flex;
    width: 400%; 
    animation: carousel 10s infinite;
  }
  
  .carousel-slide img {
    width: 100%; 
    height: auto;
    object-fit: cover;
  }
  
  @keyframes carousel {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0);
    }
  }